<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onestopcancercenter.onestopcancercenter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StoryAdd"
            android:theme="@style/cancer1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin_menu" />
        <activity android:name=".Edit_hospital_info" />
        <activity android:name=".Homepage" />
        <activity android:name=".Hospital_menu" />
        <activity android:name=".admin_HOSPITAL_Edit_MENU" />
        <activity android:name=".add_awareness_for_hospital" />
        <activity android:name=".user_sign_in_page" />
        <activity android:name=".user_sign_up_page" />
        <activity android:name=".Hospital_sign_up_page"></activity>
    </application>

</manifest>